$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$activated_color: #36f;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #959595;
}
header{
  #logo{
    display: inline-block;
    background-image: url("../images/logo.jpg");
    width: 191px;
    height: 64px;
  }
  ul{
    display: inline-block;
    float: right;    
    list-style-type: disc;
    font-size: 16px;
    margin-top: 27px;
    li{
      display: inline-block;
      list-style-type: disc;
      padding-right: 25px;
      margin-left: 6px;
      a{
        text-decoration: none;
        color: #959595;
      }
    }
  }
}
#main_container{
  /*background-image: url("../images/bk.jpg");*/
  background-repeat: no-repeat;
  max-width: 1300px;
  width: 1300px;
  height: 983px;
  padding: 0;
}
#content{
  width:100%;
  height: 832px;
  border-radius: 4px;
  background: #f2f2f2;
  padding-bottom: 15px;
  b{
    margin-left: 15px;
    font-weight: normal;
    font-size: 14.5px;
    position: absolute;
    z-index: 2;
    margin-top: -35px;
  } 
}
#chart{
  width: 1002px;
  /*height: 303px;*/
  height: 300px;
  display: inline-block;
  float: right;
  .header{
    float: left;
    display: inline-block;
    margin-top: 21px;
    position: absolute;
  }
  #date_container{
    display: inline-block;
    position: absolute;
    margin-left: 75px;
    margin-top: 8px;
    width: 908px;
    z-index: 2;
  }
  #date{
    margin-left: 350px;
    display: inline-block;
    width: 50px;
    font-size: 15px;
    line-height: 17px;
    position: absolute;
    top:5px;
    span{
      margin: 0;
      font-weight: bold;
      color: black;
      font-size: 14px;
      display: block;
      width: 115px;
    }
    #line{
      display: inline-block;
      position: absolute;
      height: 39px;
      width: 15px;
      border-left: 1px solid blue;
      left: 36px;
      top: 42px;
    }
  }
  ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: block;
    float: left;
    margin-top: 60px;
    margin-left: 11px;
    text-align: right;
    font-size: 15px;
    li{
      line-height: 35px;
    }
  }
  #calendar{
    background-image: url("../images/calendar_bk.jpg");
    background-repeat: no-repeat;
    background-size: 875px;
    background-position: bottom center; 
    background-color: white;
    float: right;
    display: block;
    width: 903px;
    height: 153px;
    margin-top: 55px;
    margin-right: 22px;
    border-radius: 8px;
    border: 2px solid #cfcfcf;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    #month_container{
      line-height: 39px;
      div{
        display: inline-block;
        width: 315px;
        font-size: 18px;
      }
    }
      .days{
        width: 14.5px;
        font-size: 17px;
        height: 18px;
        display: inline-block;
      }    
    #week_container{
      line-height: 33px;
      margin-top: 38px;
      border-bottom: 1px solid grey;
      border-top: 1px solid grey;
      background: #eee;
      div{
        display: inline-block;
        width: 148px;
        font-size: 18px;
        span{

        }
      }
    }
    #release_container{
      line-height: 39px;
      margin-top: 71px;
      font-size: 18px;
      border-bottom: 1px solid grey;
      div{
        display: inline-block;
        width: 369px;
        span{
          
        }
        &.selected{
          background-color: #c5d9e2;
          span{
            font-weight: bold;
            }
        }
      }   
      span{
        outline: 1px solid #ddd;
        cursor: pointer;

        &.CLOSED{
          background-color: #fdf2d4;
        }
        &.ACTIVE{
          background-color: #c3fec4;
        }        
        &.FUTURE{
          background-color: #c6f0fe;
        }
      }
      span:hover{
        background: $activated_color;
      }  
      span.start_sprint{
        background: #4f7;
      }
      span.end_sprint{
        background: #f52;
      }             
    }
    #sprints_container{
      display: none;
      margin-top: 41px;
      position: fixed;
      div{
          display: inline-block;
          width: 278px;
          margin: 0 10px;
          text-align: right;
          line-height: 25px;
          padding-right: 6px;
        &.completed{
          background-color: #fdf2d4;
        }
        &.active{
          background-color: #c3fec4;
        }
        &.future{
          background-color: #c6f0fe;
        }
      }
    }
    .sections{
      display: block;
      position: absolute;
      overflow: hidden;
      width: 10000px;
    }
  } // #calendar

  #stats_chart{
    display: inline-block;
    width: 287px;
    height: 92px;
    margin-left: 74px;
    
    span.todays_date{
      font-weight: bold;
      font-size: 110%;
      color: $activated_color;
    }
    span.current_sprint_title{
      font-weight: bold;
      font-size: 110%;
      color: #333;

    }
  }
  #pie_chart{
    display: inline-block;
    width: 287px;
    height: 92px;
    ul{
      float: right;
      margin: 0;
      padding: 6px 20px;
      font-size: 13px;
      display: inline-block;
      li{
        line-height: 22px;
      }
    }
    svg{
        margin: -53px 0 0 -60px;
        height: 165px;
        width: 180px;
        display: inline-block;
    }

  }
  #export_settings{
    display: inline-block;
    width: 323px;
    height: 92px;
    float: right;
    margin-right: 19px;
    color: black;
    .file_type{
      display: inline-block;
      float: right;
      font-size: 16px;
      margin-right: 19px;
    }
    button{
      display: inline-block;
      width: 102px;
      height: 26px;
      border: 2px solid;
      border-radius: 6px;
      margin: -12px 14px 7px 0;
      float: right;
    }
    ul{
      display: inline-block;
      margin: 0;
      padding: 0;
      text-align: left;
      margin-left: 13px;
      margin-top: 7px;
      font-size: 13px;
      li{
        line-height: 18px;
        input{
          margin-right: 11px;
        }
      }
      &.contained_list{
        margin-top: -7px;
        margin-left: 25px;

        li{
          span{
            display: inline-block;
            width: 9px;
            height: 8px;
            background: grey;
            margin-right: 2px;
          }
          line-height: 14px;
        }
      }
    }
    h6{
      display: inline-block;
      margin: 0;
      margin-left: 10px;
      margin-top: 5px;
      color: black;
      float: left;
      width: 100%;
    }
  }
}//#chart
#selection{
  width: 295px;
  display: inline-block;
  height: 303px;
  ul{
    padding: 32px 37px 0px 0px;
    list-style-type: none;
    margin-bottom: 0px;
    li{
      width: 100%;
      height: 40px;
      span{
        text-align: right;
        width: 95px;
        display: inline-block;
        font-size: 18px;
        float: left;
      }
      select{
        float: right;
        width: 151px;
        font-size: 21px;
      }
      input{
        float: left;
        width: 48px;
        border: 1px solid black;
        height: 30px;
        margin-left: 7px;
        display: inline-block;
        &:last-child{
          margin-left: 0px;
        }
      }
      p{
        float: left;
        display: inline-block;
        text-align: center;
        width: 58px;
        padding: 0 2px;
        margin: 0px;
        line-height: 17px;
      }
    }
  }
}

.panels_container{
  /*background: white;*/
  width: 98%;
  margin: 0 auto;
  display: block;
  height: 530px;
  border-radius: 4px;
  border: 2px solid #eaebec;
  background: white;
  overflow: scroll;
  section{
    height: 100%;
    color: black;
    display: inline-block;
    float: left;
    overflow: scroll;
    &.small{
      position: relative;
      width: 12%;
    }
    &.medium{
      position: relative;
      width: 26.5%;
      background: #e6e6e6;
    }
    &.big{
      width: 30.5%;
      position: relative;
      h3{
        display: inline-block;
        width: 100%;
        margin: 0;
        font-size: 16px;
        margin-top: 3px;
        margin-left: 4px;
      }
      .img_container{
        display: inline-block;
        float: left;
        width: 79px;
        height: 77px;
        margin-left: 8px;
        margin-top: 9px;
        border: 1px solid grey;
        border-radius: 4px;
        background: #ccc;
      }
      button{
        display: block;
        position: absolute;
        margin-top: 94px;
        border-radius: 6px;
        margin-left: 9px;
        width: 78px;
        background: lightgray;
      }
      p{
        display: inline-block;
        float: right;
        width: 75%;
        font-size: 11px;
        margin-top: 7px;
        padding: 0;
        height: 109px;
      }
      a.confluence{
          position: absolute;
          top: 242px;
          right: 0;
      }
        .issue_detail{
          .header{
            background-color: #a2fea9;
            margin: 0px;
            height: 70px;
            span{
              display: inline-block;
              &.issue_number{
                  margin-top: 7px;
                  font-weight: bold;
                  font-size: 18px;
                  margin-left: 7px;
              }
              &.type{
                float: right;
                margin-right: 35px;
                line-height: 28px;
                font-size: 17px;
              }
              &.priority{
                float: right;
                margin-right: 18px;
              }
              &.points{
                float: right;
                margin-right: 7px;
              }
              &.title{
                width: 135px;
                text-align: center;
                font-size: 15px;
              }
            }
            label{
              display: inline-block;
              &.label_type{
                float: right;
                margin-top: 2px;
                margin-right: 9px;
              }
              &.label_priority{
                float: right;
                margin-right: 6px;
              }
              &.label_title{
                float: left;
                margin-left: 6px;
                margin-top: 15px;
              }
              &.label_points{
                float: right;
                margin-right: 6px;
              }
            }
          }
        }      
    }
    span.section_title{
      background: white;
      font-size: 17px;
      padding-left: 15px;
      border-bottom: 2px solid #eaebec;
      width: 100%;
      display: inline-block;
      color: #959595;
    }
    ol{
      float: left;
      width: 42%;
      display: inline-block;
      li{        
        line-height: 33.5px;
        font-size: 17px;
        &.selected{
          color: $activated_color;
        }
        &:hover{
          cursor: pointer;
          color: $activated_color;
        }
      }
    }
    ul{
      list-style-type: none;
      padding: 0 0 0 26px;
      font-size: 17px;
      li{
        line-height: 33px;
        &.selected{
          color: $activated_color;
        }
        &:hover{
          cursor: pointer;
          color: $activated_color;          
        }        
      }
    }
    ul.thumbnails{
      float: left;
      width: 58%;
      display: inline-block;
      margin: 0;
      padding: 16px 0px 0px 7px;
      li{
        opacity: .5;
        background: url("../images/default-profile.png");
        background-size: 56px 56px;
        width: 56px;
        height: 58px;
        display: inline-block;
        border-radius: 14px;
        margin: 2px;
        border: 2px solid white;
        &.selected{
          border: 2px solid $activated_color;
          //background: white;
        }
        &:hover{
          opacity: 1;
          cursor: pointer;
          border: 2px solid $activated_color;
          //background: white;          
        }        
      }
    }
  }

  .issue{
      display: inline-block;
      background: white;
      color: black;
      padding: 7px 7px;
      height: 117px;
      border: 1px solid black;
      border-radius: 12px;
      margin: 0 6px;
      margin-bottom: 3px;
      width: 97%;
      &:hover{
        cursor: pointer;
        background: #ddd;
        .points{
          background: #fff;
        }
        .issue_id{
          color: $activated_color;
        }
      }
    div{
      display: inline-block;
      font-size: 14px;
    }
    .issue_id{
      font-size: 16px;
    }
    .type{
      margin-left: 8px;
      margin-right: -3px;
    }
    .assignee{
      display: inline-block;
      padding-left: 5px;
      font-size: 11px;
    }
    .priority{
      margin-left: 22px;      
    }
    .points{
      float: right;
      border: 1px solid black;
      border-radius: 16px;
      width: 29px;
      height: 29px;
      line-height: 29px;
      text-align: center;
    }
    .title{
      font-size: 16px;
    }
    p{
      font-size: 13px;
      padding-top: 10px;
      max-height: 75px;
      overflow: scroll;
    }
    &.selected{
      .title{
        color: #428bca;
      }
    }
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
    h2{
      color: red;
      display: inline-block;
      &:first-child{
        color : black;
        padding-right: 20px;
      }
    }
  }
.boards_container{
  height: 500px;
  overflow: scroll;
  border: 2px solid blue;
  p{
    margin:0;
    width:100%;
  }
}
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.hide{
  display: none;
}
