/*
Error: File to import not found or unreadable: ../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss.
       Load path: /Users/fbecker/Documents/Staples/yeoman_angular/app/styles
        on line 3 of main.scss

1: $icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
2: // bower:scss
3: @import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
4: // endbower
5: 
6: .browsehappy {
7:   margin: 0.2em 0;
8:   background: #ccc;

Backtrace:
main.scss:3
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/tree/import_node.rb:45:in `import'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:301:in `visit_import'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/stack.rb:79:in `block in with_base'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/stack.rb:115:in `with_frame'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/stack.rb:79:in `with_base'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/exec/sass_scss.rb:396:in `run'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/exec/base.rb:52:in `parse'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/lib/sass/exec/base.rb:19:in `parse!'
/Users/fbecker/.rvm/gems/ruby-2.1.2@global/gems/sass-3.4.7/bin/sass:13:in `<top (required)>'
/Users/fbecker/.rvm/rubies/ruby-2.1.2/bin/sass:23:in `load'
/Users/fbecker/.rvm/rubies/ruby-2.1.2/bin/sass:23:in `<main>'
/Users/fbecker/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `eval'
/Users/fbecker/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss.\A        Load path: /Users/fbecker/Documents/Staples/yeoman_angular/app/styles\A         on line 3 of main.scss\A \A 1: $icon-font-path: \"../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/\";\A 2: // bower:scss\A 3: @import \"../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss\";\A 4: // endbower\A 5: \A 6: .browsehappy {\A 7:   margin: 0.2em 0;\A 8:   background: #ccc;"; }
