<!doctype html>
<html class="no-js" ng-app="jiraProjectApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/nvd3/src/nv.d3.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body  ng-controller="AppCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div id="main_container" class="container">
      <header>
        <a href="#" id="logo"></a>
        <ul>
          <li><a href="#">My Profile</a></li>
          <li><a href="#">My Views</a></li>
          <li><a href="#">Scheduled Reports</a></li>
          <li><a href="#">Statistics</a></li>
          <li><a href="#">Settings</a></li>
        </ul>  
      </header>
      <div id="content">
        <div id="selection">
        <ul>
          <li><span>Projects</span>
          <select>
            <option value="">select project</option>
            <option value="">PTD</option>
          </select>         
          </li>
          <li><span>Boards</span>
          <select  ng-change="on_select(board , 'board')"  ng-model="board" ng-options="board.board_id as board.board_name for board in boards">
            <option value="">select board</option>
          </select>
          </li>
          <li><span>Role</span>
          <select ng-change="on_select(role , 'role')"  ng-model="role" ng-options="role.role_title for role in roles">
            <option value="">select role</option>
          </select> 
          </li>
          <li><span>Player</span>
          <select ng-change="on_select(player , 'player')" ng-model="player" ng-options="player for player in players">
            <option value="">select player</option>
          </select> 
          </li>
          <li><span>Issue Type</span>
          <select ng-change="on_select(issue_type , 'issue_type')"  ng-model="issue_type" ng-options="issue_type for issue_type in issue_types">
            <option value="">select issue type</option>
          </select> 
          </li>
          <li><span>Points</span>
            <input value="" type="text" />
            <p>&lt; Min Max &gt;</p>
            <input value="" type="text" />
          </li>
        </ul>          
        </div>
        <div id="chart" ng-controller="TimeLineCtrl">
          <span class="header">Select Interactive Timeline elements to view activity</span>
         <!-- <div id="date_container">            
            <div id="date">Tuesday<span>Nov 4, 2014</span></div>
          </div>
          <div id="calendar">
            <div id="month_container" class="sections">
              <div>m10</div><div>m11</div><div>m12</div>
            </div>
            <div id="week_container" class="sections">
              <div><span>w3</span></div><div><span>w4</span></div><div><span>w1</span></div><div><span>w2</span></div><div><span>w3</span></div><div><span>w4</span></div>
            </div>
            <div id="release_container" class="sections">
              <div><span>R2</span></div><div><span>R3</span></div><div><span>R4</span></div>
            </div>
            <div id="sprints_container" class="sections">
              <div class="completed">Completed</div><div class="active">Active</div><div class="future">Future</div>
            </div>
          </div> -->
            <time-line></time-line>
          <ul>
            <li>Month</li>
            <li>Week</li>
            <li>Release</li>
            <li>Sprints</li>
          </ul>
          <div id="stats_chart">
            
            Date: <span class='todays_date'>{{target_day}}</span>

            <br>

            <span class ='current_sprint_title'>{{ target_sprint.sprint_name }}</span> ( {{ target_sprint.id }} )

            <br />
            Start: {{ target_sprint.startDate }} <br />
            End: {{ target_sprint.endDate }} <br />
            {{ target_sprint.state }} <br />            
            {{ target_sprint.timestamp }} <br />

    <!-- "sprint_name": "Backdated Sprint",
     "sprint_state": "CLOSED",
     "startDate": "01/Aug/14 11:50 AM",
     "endDate": "15/Aug/14 11:50 AM",
     "name": "Backdated Sprint",
     "remoteLinks": "[]",
     "completeDate": "01/Aug/14 11:51 AM",
     "state": "CLOSED",
     "linkedPagesCount": "0",
     "id": "314",
     "incomplete_issues": [] -->


          </div>
          <div id="pie_chart">    
              <nvd3-pie-chart
                data="exampleData"
                  id="exampleId"
                  width="200"
                  height="200"
                  x="100"
                  y="100"
                  showLabels="true">
                  <svg></svg>
              </nvd3-pie-chart>                  
            <ul>
            <li>Hours</li>
            <li>Points</li>
            <li>Issues</li>
          </ul>
          </div>
          <div id="export_settings">
            <h6>Export Settings</h6>
            <ul>
              <li><input type="checkbox" name="Report"><span>Report</span></li>
              <li><input type="checkbox" name="Confluence"><span>Confluence</span></li>
              <li><input type="checkbox" name="JSON"><span>JSON</span></li>
            </ul>                                      
          <ul class="contained_list">
            <li><span></span>Release</li>
            <li><span></span>Sprint</li>
            <li><span></span>Player</li>
            <li><span></span>Issue</li>
            <li><span></span>Roles</li>
          </ul> 
          <button type="button">Export</button>
          <span class='file_type'>/filename.html</span>
          <span class='file_type'>/filename.json</span>
          </div>  <!--   export_settings  -->
        </div>  <!--   chart  -->
        <b>Browse roles and individual tasks and activity.</b>
          <div class="panels_container">
            <section class="small"><span class="section_title">Roles</span>
            <ul>
              <li ng-repeat="role in data.roles"  ng-click="setRoleSelected(role.role_id)" ng-class="{selected: role.role_id === roleSelectedVote}">
              {{ role.role_title }}
              </li>
            </ul>
            </section>
            <section class="big"><span class="section_title">Team</span>
            <ol>
                <li ng-repeat="team_member in data.team_members" ng-click="setTeamMemberSelected(team_member)" ng-class="{selected: team_member.role_id.indexOf(roleSelectedVote) > -1}">
              {{ team_member.nick_name }}
              </li>
            </ol>
            <ul class="thumbnails">
            <li class="selected"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            </ul>
            </section>
            <section class="medium"><span class="section_title">Issues</span>
            <div ng-repeat="issue in data.project_issues"
            ng-click="setIssueSelected(issue)" 
            ng-class="{hide: issue.assignee !== focus_player}"
            class="issue"
            >
              <div class="issue_id">{{issue.issue_id}}</div><div class="type">
              {{ issue.issue_type }}  <span class="assignee">{{ issue.assignee }}</span></div>
              <div class="priority">{{ issue.priority }}</div>
              <div class="points">{{ issue.story_points }}</div>
              <div class="title"></div>
              <p>{{ issue.summary }}</p>
            </div>                          
            </section>            
            <section class="big"><span class="section_title">Details</span>
              <div>
                <div class="issue_detail">
                  <div class="header">
                    <span class="issue_number">{{ selected_issue.issue_id }}</span>
                    <span class="title">UI SQUAD</span>
                    <span class="type">{{ selected_issue.issue_type }}</span>
                    <label class="label_type">Type</label>
                    <span class="points">{{ selected_issue.story_points }}</span>                  
                    <label class="label_points">Points</label>        
                    <span class="priority">{{ selected_issue.priority }}</span>          
                    <label class="label_priority">Priority</label>                 
                    <label class="label_title">Title</label>
                  </div>
                </div>
                <h3>Improve the Agile System</h3>
                <div class="img_container"></div>              
                <p>{{ selected_issue.summary }}</p>
                <button type="button">Images</button>
                <a href="#" class="confluence">Confluence</a>
              </div>  
            </section>
          </div>  <!--   panels_container  -->
      </div> <!--  content -->
     <!-- <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a ng-href="#">Home</a></li>
          <li><a ng-href="#/about">About</a></li>
          <li><a ng-href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">jiraProject</h3>
      </div>-->

      <!--<div ng-view=""></div>-->

      <!---<div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> from the UI Squad team</p>
      </div>-->
    </div><!--  main_container -->


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/nv.d3.js"></script>
    <script src="bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/AppCtrl.js"></script>
        <script src="scripts/controllers/TimelineCtrl.js"></script>
        <!-- endbuild -->
</body>
</html>