<div class="container">
  <h2 class="board_title">Board Title:</h2>
  <h2 class="board_title">{{board_title}}</h2>

<!-- Todos list -->
<div ui-sortable ng-model="boards" class="boards_container">
  <p class="input-group" ng-repeat="board in boards" style="cursor: move;">
    <span type="text" ng-model="board" class="form-control">
      <b>Board ID:</b> {{board.board_id}}, 
      <b>Board Name:</b> {{board.board_name}}, 
      <b>Is Focus?:</b> {{board.is_focus}}
    </span>
    <span class="input-group-btn">
      <!--<button class="btn btn-danger" ng-click="removeTodo($index)" aria-label="Remove">X</button>-->
    </span>
  </p>
</div>
</div>